@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
:root {
	--header-bg: #004621;
	--green-text: #004202;
	--main-bg-col: #FFF;
	--hero-bg-col: #E7E0DC;
	--card-col: #fff3e7;
	--main-text-col: #212121;
	--sec-bg-col: #FFEBD9;
	--accent-col: #F27B3F;
	--sec-text-col: #06071A;
	--third-bg-col: #F5F4FA;
	--accord-bgcolor: #E3E2E1;
	--grey-color: #777;
	--box-card-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000F, 0px 1px 1px 0px #0000001F;
	--border-col: rgba(33, 33, 33, 0.2);
	--sec-border-col: #EEEEEE;
	--function: cubic-bezier(0.4, 0, 0.2, 1);
	--transit: 0.25s;
	--viber-color: #6F5CEA;
	--telegram-color: #27A6E6;
	--whatsapp-color: #2BB741;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {

}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

header, .hero, .wrapper, footer, .main, .descript {
	width: 100%;
}

.menu, .section-grid, .hero-wrap, .services, .descript-wrap {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

header {
	transition: var(--transit);
	background-color: var(--accent-col);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 300;
}

.menu {
	position: relative;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.helo {
	display: flex;
	gap: 10px;
	align-items: center;
}

.menu-svg {
	width: 50px;
	height: 50px;
	fill: var(--main-bg-col);
}

.logo-text {
	font-family: "Comfortaa";
	font-size: 26px;
	line-height: 0.9em;
	color: var(--main-bg-col);
}

.header-list {
	display: none;
}

.header-link {
	color: var(--main-bg-col);
	font-style: normal;
	transition: var(--transit);
	font-size: 1.1em;
	letter-spacing: 0.05em;
	font-weight: 500;
}

.header-link:hover, .header-link:focus {
	color: var(--main-bg-col);
}

.burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.burger::before {
	position: absolute;
    content: '';
    width: 32px;
    height: 2px;
    box-shadow: 0 10px var(--main-bg-col);
    background-color: var(--main-bg-col);
    transition: var(--transit);
    transform: translateY(-10px);
}

.burger::after {
	position: absolute;
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--main-bg-col);
    transition: var(--transit);
    transform: translateY(10px);
}

/* HERO  */
.hero {
	height: calc(100vh - 60px);
	background-color: var(--hero-bg-col);
}

.hero-wrap {
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	/* height: calc(100% - 60px); */
	overflow: hidden;
}

.hero-vect {
	width: 90%;
}

.vect {
	width: 100%;
}

.hello-friends {
	font-family: 'Montserrat';
	color: var(--green-text);
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}

.site-article {
	font-family: 'Montserrat';
	color: var(--main-text-col);
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.hero-descr {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.hero-face {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	border: 2px solid var(--main-bg-col);
}

.hero-btn {
	display: inline-block;
	padding: 12px 22px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.06em;
	color: var(--main-bg-col);
	background-color: var(--green-text);
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 15px;
	transition: var(--transit);
	font-family: "Montserrat";
	line-height: 100%;
}

/* //MAIN  */
.main {
	background-color: var(--main-bg-col);
}

.main-wrap {
	max-width: 1200px;
	margin: 60px auto;
	padding: 0 15px;
}

.concept {
	width: 100%;
	height: 40vh;
	background-attachment: fixed;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../img/banochki.png);
 	background-image: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../img/banochki.png);
}

.concept-wrap {
	max-width: 1200px;
	height: 100%;
	margin: 60px auto;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.concept-wrap h2 {
	font-size: 1em;
	font-weight: 600;
	font-family: "Montserrat";
	color: var(--main-bg-col);
	text-align: center;
	display: inline-block;
}

.concept-wrap h2 span {
	font-size: 1.5em;
	font-weight: 600;
}

.descript {
	margin-top: 40px;
}

.main-wrap h2 {
	font-size: 2.2em;
	font-weight: 300;
	color: var(--grey-color);
}

.main-text {
	margin-bottom: 16px;
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 16px;
}

.main-img {
	margin-top: 16px;
	border-radius: 8px;
	width: 100%;
}

.descript-wrap ol {
	padding: 0 0 0 60px;
	margin-top: 30px;
}

.desc-text {
	margin-top: 30px;
	font-size: 1.6em;
	font-weight: 200;
}

.card-text {
	margin-top: 24px;
}

.bold {
	margin-bottom: 24px;
	color: var(--green-text);
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 22px;
	line-height: 100%;
}

.concept {

}



.descript-wrap {
	overflow: hidden;
}

/* SLIDER  */

.slider-container {
	width: 100%;
	/* max-width: 1000px; */
	position: relative;
	padding: 24px 0 40px;
}
  
.slider {
	display: flex;
	gap: 8px;
	transition: transform 0.5s ease-in-out;
	touch-action: pan-y;
}
  
.card {
	min-width: 300px;
	border: 1px solid var(--accent-col);
	border-radius: 8px;
	padding: 20px 14px;
	background-color: var(--card-col);
}

.img-card {
	display: none;
	background-image: url(/img/koloski.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.large-img-card {
	display: none;
	width: 100%;
	background-image: url(/img/stoopka.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
  
.accent-text {
	color: var(--accent-col);
	font-weight: 600;
	font-size: 1.25em;
}

.slider-dots {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
  
.dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}
  
.dot.active {
	background-color: #555;
}

/* SLIDER END */


/* media */

@media screen and (min-width: 768px) {
	.hero {
		display: flex;
		align-items: center;
		justify-content: center;
		height: fit-content;
	}
	.hero-wrap {
		display: flex;
		flex-direction: row-reverse;
		padding: 60px 0;
	}
	.hero-vect {
		padding: 0 40px;
	}
	.hero-descr {
		align-items: start;
	}
	.vect {
		width: 145%;
	}
	.site-article {
		text-align: left;
	}
	.hero-descr, .hero-vect {
		width: calc((100% - 20px) / 2);
	}
	.hero-btn {
		width: 100%;
		text-align: center;
	}
	.obertka {
		display: flex;
		align-items: flex-start;
		gap: 20px;
	}
	.main-first, .main-sec {
		width: calc((100% - 20px) / 2);
	}
	.slider {
		flex-wrap: wrap;
		gap: 20px;
	}
	.card {
		width: calc((100% - 20px) / 2);
	}
	.bold {
		font-size: 1.5em;
	}
	.accent-text {
		font-size: 1.125em;
	}
	.card-text {
		margin-top: 16px;
		font-size: 0.85em;
	}
	.img-card {
		display: block;
	}
	.large-img-card {
		min-height: 245px;
		width: 100%;
		display: block;
	}
	.concept-wrap h2 {
		font-size: 1.875em;
	}
	.concept-wrap h2 span {
		font-size: 1.25em;
	}
}

@media screen and (min-width: 1200px) {
	.header-list {
		display: flex;
		gap: 20px;
	}
	.burger {
		display: none;
	}
	.hero {
		height: fit-content;
	}
	.hero-wrap {
		gap: 30px;
		padding: 60px 0;
	}
	.hero-descr {
		width: 40%;
	}
	.hero-descr {
		gap: 20px;
	}
	.hero-vect {
		padding: 0;
	}
	.vect {
		width: 100%;
	}
	.img-vis {
		display: none;
	}
	.bold {
		font-size: 1.875em;
	}
	.accent-text {
		font-size: 1.375em;
	}
	.card-text {
		font-size: 1em;
	}
	.concept-wrap h2 {
		font-size: 1.875em;
	}
	.concept-wrap h2 span {
		font-size: 2em;
	}
}